body {
	background: coral;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.5;
	box-sizing: border-box;
}
.heading {
	text-align: center;
	color: aliceblue;
	font-style: italic;
}
ul {
	list-style-type: none;
}

.listItems , .addList {
max-width: 275px;
width: 100%;
margin: 0 auto;
padding: 20px;
margin-top: 3px;
border: 1px solid white;
text-align: center;
background: lightgreen;
cursor: pointer;
}

 input {
	padding: 0px;
	height: 35px;
	width:90%;
} 
.btn {
	background: #ffffff;
	width: 10%;
	color:#ff4c4c;
	font-weight: 700;
	position: relative;
	top: -34px;
	left: 125px;
	border: 0px;
	font-size: 29px;
}
.btn:hover {
	background: #ff4c4c;
	color: white;
}